extends ../layout

block content
	.container
		.row
			.col-md-8
				each item in articles
					section.article-box
						a(href="/article/#{item._id}")
							h2 #{item.title}
						//- span.small #{moment(item.meta.updateAt).format('MM/DD/YYYY')} by tzy
						span.small #{moment(item.meta.createAt).format('MM/DD/YYYY')} by #{item.author.name} 
						h4 !{item.introduce}
						a.text-info(href="/article/#{item._id}") 阅读全文
						div 标签：
							each label in item.labels
								span.label.label-info #{label}
				ul.pager
					li
						if pageNum != 1
							a(href="/?page=#{pageNum+1}") Prev
						= pageNum + ' / ' + pageCount
						if pageNum < pageCount
							a(href="/?page=#{pageNum+1}") Next
			include ../includes/rightBar