extends ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 标题
						th 作者
						th 编写时间
						th 上次修改时间
						th 查看
						th 更新
						th 删除
				tbody
					each item in articles
						tr(class="item-id-#{item._id}")
							td #{item.title}
							td #{item.author.name}
							td #{moment(item.meta.createAt).format('MM/DD/YYYY')}
							td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
							td: a(target="_blank" href="../../article/#{item._id}") 查看
							td: a(target="_blank" href="../article/update/#{item._id}") 修改
							td
								button.btn.btn-danger.del(type="button" data-id="#{item._id}") 删除
	script(src="/js/admin.js")